.App {
  max-width: 600px;
  margin: 0 auto;
}

.about-app {
  padding: 16px;
  color: #fff;
}

.about-app .app-name {
  font-weight: 700;
  font-size: 2em;
}

.about-app .app-author {
  color: #ddd;
}

.time-picker-box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.time-container {
  margin: 16px;
  padding: 16px;
  border-radius: 15px;
  background-color: #fff;
}

.time-container .time-header {
  display: flex;
  justify-content: space-between;
}

.time-container .time-title {
  font-size: 1.5em;
}

.time-container .time-metric {
  font-size: 4em;
}

.time-container .time-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.time-container .time-result .time-result-item {
  border: none;
  background-color: #eee;
  overflow: hidden;
  padding: 10px;
  border-radius: 15px;
  margin: 4px;
  font-size: 1.25em;
}

.btn {
  border: none;
  color: white;
  overflow: hidden;
  text-transform: capitalize;
  padding: 10px 12px;
  border-radius: 15px;
  cursor: pointer;
}